extends layout

block content
  body#login
  -data = data || {}
    #bg-opacity
      .container
        a.close-btn(href='/')  X
        // Pills navs
        ul#login-nav.nav.nav-pills.nav-justified.mb-4(role='tablist')
          li.nav-item(role='presentation')
            a#tab-login.nav-link.active(data-toggle='pill' href='#pills-login' role='tab' aria-controls='pills-login' aria-selected='true') Login
          li.nav-item(role='presentation')
            a#tab-register.nav-link(data-toggle='pill' href='#pills-register' role='tab' aria-controls='pills-register' aria-selected='false') Register
        // Pills navs
        // Pills content
        .tab-content
          #pills-login.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='tab-login')
            if errors
              ul.my-errors
              for error in errors
                  li= error.msg
            form(action='/login' method='POST')
              .text-center.mb-3.disabled-txt
                p.mb-4 Sign in with:
                button.btn.btn-outline-light.py-2.m-2(type='button')
                  i.fab.fa-twitter.mr-4
                  |                   Twitter
                button.btn.btn-outline-light.py-2.m-2(type='button')
                  i.fab.fa-google.mr-4
                  |                   Google
                button.btn.btn-outline-light.py-2.m-2(type='button')
                  i.fab.fa-facebook-f.mr-4
                  |                   Facebook
              p.text-center OR
              // username input
              .form-outline.mb-4
                input#loginName.form-control(
                  type='text'
                  placeholder='Username*'
                  name='username'
                  required=''
                  class="form-control"
                  value=data.username
                )
              // Password input
              .form-outline.mb-4
                input#loginPassword.form-control(
                  type='password'
                  placeholder='Password*'
                  name='password'
                  required=''
                  class="form-control"
                  value=data.password
                )
              // 2 column grid layout
              .row.mb-4
                .col-md-6.d-flex.justify-content-center
                  // Checkbox
                  .form-check.mb-3.mb-md-0
                    input#loginCheck.form-check-input(
                      type='checkbox'
                      value=''
                    )
                    label.form-check-label(for='loginCheck')
                      | Remember me
                .col-md-6.d-flex.justify-content-center
                  // Simple link
                  a.disabled-txt(href='#!') Forgot password?
              // Submit button
              button#login-form-btn.btn.btn-primary.btn-block.mb-4.py-2.cta-btn(type='submit' name='submit' value='submit' aria-required='true')
                | Log in
              // Register buttons
              .text-center
                p
                  | Not a member? Click register above
                  //
                    <a
                    id="register-link"
                    class="disabled-txt"
                    href="#pills-register"
                    >Register above</a
                    >
              label#error-message
          #pills-register.tab-pane.fade.active(role='tabpanel' aria-labelledby='tab-register')
            form
              .text-center.mb-3
                p.mb-4 Sign up with:
                button.btn.btn-outline-light.py-2.m-2(type='button')
                  i.fab.fa-twitter.mr-4
                  |                   Twitter
                button.btn.btn-outline-light.py-2.m-2(type='button')
                  i.fab.fa-google.mr-4
                  |                   Google
                button.btn.btn-outline-light.py-2.m-2(type='button')
                  i.fab.fa-facebook-f.mr-4
                  |                   Facebook
              p.text-center OR
              // 2 column grid layout with text inputs for the first and last names
              .row
                .col
                  .form-outline
                    input#register-fname.form-control(type='text' name="fname" placeholder='First Name*')
                .col
                  .form-outline
                    input#register-lname.form-control(type='text' name="lname" placeholder='Last Name*')
              // Email input
              .form-outline.mb-4
                input#register-email.form-control(type='email' name="email" placeholder='Email*')
              // Password input
              .form-outline.mb-4
                input#register-pw.form-control(type='password' name="password" placeholder='Password*')
              // Repeat Password input
              .form-outline.mb-4
                input#register-repeat-pw.form-control(type='password' name="password2" placeholder='Repeat password*')
              .form-check.d-flex.justify-content-start.mb-4.pb-3
                input#form2Example3c.form-check-input.me-3(type='checkbox' value='')
                label.form-check-label.text-white(for='form2Example3')
                  | I do accept the
                  a.text-white(href='#!')
                    u Terms and Conditions
                  |                   of Unwind Web.
              // Submit button
              button#register-btn.btn.btn-primary.btn-block.my-5.cta-btn(type='submit' name="submit")
                | Get Started
        // Pills content
  //- block foot
  //-   footer
  //-     | Made with &#x262E; and &#x2764; by Shandira
  //-     br
  //-     |         &copy; Copyright 2022

  script.
    const urlParams = new URLSearchParams(window.location.search);
    const info = urlParams.get('info');
    if (info) {
      const errorMessage = document.getElementById('error-message');
      errorMessage.innerText = JSON.stringify(info);
      errorMessage.style.display = 'block';
    }